.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s; 
}

.delay-4 {
  animation-delay: 2s;
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


.slide-in-top {
  opacity: 0;
  animation: slideInTop 1s ease-out forwards;
}

.slide-in-right {
  opacity: 0;
  animation: slideInRight 1s ease-out forwards;
}

.slide-in-bottom {
  opacity: 0;
  animation: slideInBottom 1s ease-out forwards;
}

.slide-in-left {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
}
